{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div id="wrapper">
  <div id="inner-wrapper">
        <div class="cf">
    <a href="http://test.europeana.eu/portal" class="logo ir"><h1>Europeana Collections</h1></a>
        </div>
    <div id="form-wrapper">
  <form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
<div id="no-credentials">
<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not registered" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>

  </div>
    </div>
  </div>
{% endblock %}
