#wrapper{ corner: 5px; width: 600px; margin-left: auto; margin-right: auto; background-color: white; border: thin solid black; margin-top: 150px; border-radius: 15px; }
#form-wrapper{ margin-right: auto; margin-left: auto; display: block; width: 350px;}
#no-credentials{ font-size: 85%; margin-top: 25px; margin-bottom: 50px; }
#no-credentials p { margin-bottom: 0px; }
.logo{ background-image: url(http://www.europeana.eu/portal/themes/default/images/europeana-logo-2.png); width: 206px; height: 123px; margin-left: 25px; }
.errorlist{ color: red; }
a#login { width: auto; padding: 0.5rem 1rem; background: #1A8AC7; border: none; cursor: pointer; color: #fff; border-radius: 4px; }