{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'mobsource/styles/europeana.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'rankfiddle/styles/main.css' %}" />
    <script src="{% static 'mobsource/js/jquery.dev.js' %}"></script>
    <script src="{% static 'rankfiddle/js/boosts.js' %}"></script>
    <title>RankFiddle</title>
</head>
<body id="body-projects">
<div role="main" class="page 1-page">
    <div class="cf">
    <a href="http://test.europeana.eu/portal" class="logo ir"><h1>Europeana Collections</h1></a>
        <div id="header-desc">
            <h1>RankFiddle</h1>
            <h2>Dynamic Querying of the Europeana DB</h2>
        </div>
     <!--   <div id="email-wrapper">
            <p>Problems with this webform?</p>
            <p>Email: <a href="mailto:timothy.hill@europeana.eu">timothy.hill@europeana.eu</a></p>
        </div> -->
    </div><!-- closing cf -->
  <!--  <section class="search-results"> -->
    <div id="warnings">
       <div id="no-results-warning" class="warning">
            <p>
                Search returned no results.
            </p>
        </div>
    </div>
    <div class="container">
    <div id="user_form" class="weights">
        <h2>Trial Weighting</h2>
    <form method="POST" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input name="launch-query" type="submit" value="Launch Query" id="launch-query"/>


    </form>
        </div>

            <div class="results-list cf" id="query_results">
<ul class="result-items">
    {% for doc in docs  %}
    <li>
        <article class="search-list-item cf">
            <div class="item-preview">
                <div class="item-image">
                    <a href="{{ doc.europeana_aggregation_edm_landingPage }}"><img src="http://europeanastatic.eu/api/image?uri={{ doc.provider_aggregation_edm_object.0 }}&size=BRIEF_DOC&type=IMAGE"/></a>

                </div>
            </div>
            <div class="item-info">
                <h1><a href="{{ doc.europeana_aggregation_edm_landingPage }}">{{ doc.title.0 }}</a></h1>
                <p class="excerpt"><b>Description</b>: {{ doc.description.0 }}</p>
                <div class="item-origin">
                    <a class="external" href="{{ doc.provider_aggregation_edm_isShownAt.0 }}">View at {{ doc.DATA_PROVIDER.0 }}</a>
                </div>
            </div>
            <footer>
                <div class="item-metadata">
                    <span class="highlight item-type">
                        <svg class="icon icon-image"/>
                        {{ doc.proxy_edm_type.0 }}
                    </span>
                </div>
            </footer>
        </article>
    </li>
    {% endfor %}
</ul>
            </div>
        {% if params %}
   <div id="param-feedback">
       <h2>Query Params </h2>
            {%  for param, val in params.items %}
                <div class="param-value">
                    <div class="param">{{ param }}: </div>
                    <div class="value">{{ val }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
       <!-- </section> -->
</div>
</body>
</html>