{% load filters %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agent</title>
   <!-- <link rel="stylesheet" type="text/css" href="{% static 'remfriends/styles/europeana.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'remfriends/styles/main.css' %}" /> -->
   <!-- <script src="{% static 'remfriends/js/jquery.dev.js' %}"></script>
    <script src="{% static 'remfriends/js/query.js' %}"></script> -->
</head>
<body>
    <h1>Agent</h1>
    <table name="agent-info">
        <tr>
            <td>Name:</td>
            <td>{{ agent.pref_label }}</td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>{{ agent.sex }}</td>
        </tr>
        <tr>
            <td>Place of Birth:</td>
            <td>{{ agent.place_of_birth }}</td>
        </tr>
        <tr>
            <td>Place of Death:</td>
            <td>{{ agent.place_of_death }}</td>
        </tr>
        <tr>
            <td>Europeana Search:</td>
            <td><a href="{{ agent.europeana_broad_set }}">{{ agent.europeana_broad_set }}</a></td>
        </tr>
        <tr>
            <td>Europeana - Rijksmuseum holdings:</td>
            <td><a href="{{ agent.europeana_narrow_set }}">{{ agent.europeana_narrow_set }}</a></td>
        </tr>
    </table>
    <h2>Works from Wikidata</h2>
    <table name="work-info">
        {% for work in works %}
        <tr>
            <td><a href="{{ work.wdid }}">{{ work.pref_label }}</a></td>
        </tr>

        {% endfor %}
    </table>
    <h2>Europeana - Rijksmuseum Works</h2>
    <table name="ework-info">
        {% for ework in europeana_works %}
        <tr>
            <td><a href="{{ ework.euid|as_eurl }}">{{ ework.pref_label }}</a></td>
        </tr>
        {% endfor %}
    </table>
    <h2>Relationships</h2>
    <table name="social-relationships">
        {% for orel in outward_relations %}
            <tr>
                <td>{{ orel.active.pref_label }}</td>
                <td>{{ orel.relationship_type.pref_label }}</td>
                <td><a href="{{ orel.passive.wdid|as_id }}">{{ orel.passive.pref_label }}</a></td>
            </tr>
        {% endfor %}
    </table>
    <h2>Depicted</h2>
    <h3>In Europeana</h3>
            {% for eu_work in as_subject_eur %}
            <tr>
                <td><a href="{{ eu_work.euid|as_eurl }}">{{ eu_work.pref_label }}</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>